#
# Copyright (C) 2022 Nethesis S.r.l.
# SPDX-License-Identifier: GPL-3.0-or-later
#

[Unit]
Description=Podman  openhab-app.service
BindsTo=openhab.service
After=openhab.service 

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
EnvironmentFile=%S/state/environment
EnvironmentFile=-%S/state/smarthost.env
WorkingDirectory=%S/state
Restart=always
TimeoutStopSec=70
ExecStartPre=/bin/mkdir -p tmp
ExecStartPre=/bin/rm -f %t/openhab-app.pid %t/openhab-app.ctr-id
ExecStartPre=-runagent discover-smarthost
ExecStart=/usr/bin/podman run --conmon-pidfile %t/openhab-app.pid \
    --cidfile %t/openhab-app.ctr-id --cgroups=no-conmon \
    --pod-id-file %t/openhab.pod-id --replace -d --name  openhab-app \
#    --net=host \
    --volume /etc/localtime:/etc/localtime:ro \
    --volume /etc/timezone:/etc/timezone:ro \
    --volume openhab-conf:/openhab/conf:Z \
    --volume openhab-userdata:/openhab/userdata:Z \
    --volume openhab-addons:/openhab/addons:Z \
    --volume openhab-java:/openhab/.java:Z \
#    --device=/dev/ttyUSB0 \
#    --env CRYPTO_POLICY=unlimited \
    ${OPENHAB_IMAGE}
ExecStop=/usr/bin/podman stop --ignore --cidfile %t/openhab-app.ctr-id -t 10
ExecReload=/usr/bin/podman kill -s HUP openhab-app
SyslogIdentifier=%u
ExecStopPost=/usr/bin/podman rm --ignore -f --cidfile %t/openhab-app.ctr-id
PIDFile=%t/openhab-app.pid
Type=forking

[Install]
WantedBy=default.target
